.player-region {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
}

.player-control {
  padding:5px;

  .btn {
    padding:6px 12px;
  }

  .song-info {
    margin: {
      bottom:10px;
      left:5px;
    }
    height:40px;

    img {
      width:40px;
      height:auto;
      border-radius:2px;
    }

    .song-info__image {
      float:left;
      margin-right:10px;
    }

    .song-info__text {
      color:white;

      .song-info__title {
        font-weight:bold;
        margin-bottom:5px;
      }
    }
  }

  .song-duration {
    clear:both;

    .song-duration-beg {
      float:left;
      width:15%;
      text-align:center;
    }

    .progress {
      float:left;
      width:70%;
      height: 4px;
      line-height: 60px;
      margin: {
        top:7px;
        bottom:10px;
      }
    }

    .song-duration-end {
      float:right;
      width:15%;
      text-align:center;
    }
  }

  .player-control-bottom {
    clear:both;
  }
}