
$color--primary: #6f9a37;
$color--secondary: #B5FE68;
$color--third: #00C7FA;
$color--text: #757575;

$color--gray-light: #dedede;
$color--gray-dark: #333;
$color--breadcrumbs: #EAEAEA;
$color--background: #F5F5F5;
$color--brown: #503f3c;

$color--success: $color--primary;
$color--info: #619bf2;
$color--warning: #F2B53F;
$color--danger: #aa3d2a;
$color--info-alt: #ED36CD;