<div class="page page-full page-dashboard two-column">

  <section class="inner-wrapper">

    <div class="inner-page scrollable">

      <section>
        <section class="panel panel-default panel-default-clean">
          <div class="panel-body panel-body--dashboard">

            <tabset class="ui-tab">
              <tab heading="New Artists">

                <div class="divider"></div>

                <div data-ng-controller="ArtistListingCtrl as artistListing">
                  <div class="row music-covers-listing minified">

                    <div data-ng-repeat="artistItem in ArtistsSrv.artists" class="col-md-3">

                      <div class="list-item__wrap">

                        <div class="list-item__play">
                          <a class="list-item__play-button" ng-href="#/artist/{{artistItem.url_name}}">
                            <i class="fa fa-2x fa-spotify">

                            </i>
                          </a>
                        </div>

                        <div class="list-item__image">
                          <img ng-src="{{artistItem.image}}"/>
                        </div>

                        <div class="list-item__name">
                          <h5>
                            {{artistItem.name}}
                          </h5>
                        </div>

                        <div class="list-item__style">
                          <div class="artist-genre" ng-repeat="genre in artistItem.genre">
                            <span>{{genre}}</span>
                          </div>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>

              </tab>

              <tab heading="New albums">

                <div class="divider"></div>

                <div data-ng-controller="AlbumsCtrl as albums">
                  <div class="row music-covers-listing minified">

                    <div data-ng-repeat="album in AlbumsSrv.albums" class="col-md-3">

                      <div class="list-item__wrap">

                        <div class="list-item__play">
                          <a class="list-item__play-button" ng-href="#/artist/{{album.url_name}}">
                            <i class="fa fa-2x fa-spotify">

                            </i>
                          </a>
                        </div>

                        <div class="list-item__image">
                          <img ng-src="{{album.image}}"/>
                        </div>

                        <div class="list-item__name">
                          <h5 class="color-primary">
                            {{album.artist}}
                          </h5>
                          <h6>
                            {{album.name}}
                          </h6>
                        </div>

                        <div class="list-item__style">
                          <div class="artist-genre" ng-repeat="genre in album.genre">
                            <span>{{genre}}</span>
                          </div>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>

              </tab>
              <tab heading="Discover songs">

              </tab>

            </tabset>
          </div>
        </section>
      </section>

      <section>

        <section class="panel panel-default panel-default-clean">

          <div class="panel-body">

            <h4>
              Genres & Mood
            </h4>

            <div data-ng-controller="GenresCtrl as genres">

              <div class="row music-genres-listing">

                <div data-ng-repeat="genre in GenresSrv.genres" class="col-md-3">

                  <div class="list-item__wrap">

                    <div class="list-item__play">
                      <a class="list-item__play-button" ng-href="#/artist/{{genre.url_name}}">
                        <i class="fa fa-2x fa-spotify">

                        </i>
                      </a>
                    </div>

                    <div class="list-item__image" style="background:url({{genre.image}});">
                      <div class="list-item__name">
                        <div class="genre-icon">
                          <i class="{{genre.icon}}">

                          </i>
                        </div>
                        <h5>
                          <a href="#/artist/{{genre.url_name}}">{{genre.name}}</a>
                        </h5>
                      </div>

                    </div>
                  </div>

                </div>

              </div>

            </div>

          </div>

        </section>

      </section>

    </div>

  </section>

  <aside class="aside" id="sidebar">

    <div class="aside-inner-fixed scrollable">
      <div class="panel panel-default panel-transparent panel-default-clean">

        <div class="panel-body">

          <div class="now-playing">

            <div class="now-playing__item">

              <div class="now-playing__image">
                <img src="dist/images/team1.jpg" alt="" class="img40_40 img-circle">
              </div>

              <div class="now-playing__name">
                <h5>
                  Jason Doezer
                </h5>
              </div>
              <div class="now-playing__song">
                <p class="text-muted">
                  The lunatics - Come Together
                </p>
              </div>
              <div class="now-playing__artist">
                <p class="text-muted">
                  <i class="musicicon-acoustic4"></i>  The lunatics
                </p>
              </div>

            </div>

            <div class="now-playing__item">

              <div class="now-playing__image">
                <img src="dist/images/team2.jpg" alt="" class="img40_40 img-circle">
              </div>

              <div class="now-playing__name">
                <h5>
                  Greg Newpont
                </h5>
              </div>
              <div class="now-playing__song">
                <p class="text-muted">
                  La fiesta negra - Trains over fall
                </p>
              </div>
              <div class="now-playing__artist">
                <p class="text-muted">
                  <i class="musicicon-cornet3"></i>  La fiesta negra
                </p>
              </div>

            </div>

          </div>

          <div class="divider"></div>

          <div>

            <h4>
              More Friends
            </h4>

            <div class="friends-list">
              <div class="friend-item">
                <div class="friend-image">
                  <img src="dist/images/team3.jpg" alt="" class="img40_40 img-circle">
                </div>
                <div class="friend-name">
                  <h5>Philip Gragoline</h5>
                </div>
              </div>

              <div class="friend-item">
                <div class="friend-image">
                  <img src="dist/images/team4.jpg" alt="" class="img40_40 img-circle">
                </div>
                <div class="friend-name">
                  <h5>Christopher Factory</h5>
                </div>
              </div>

              <div class="friend-item">
                <div class="friend-image">
                  <img src="dist/images/team5.jpg" alt="" class="img40_40 img-circle">
                </div>
                <div class="friend-name">
                  <h5>Tony Banken</h5>
                </div>
              </div>

              <div class="friend-item">
                <div class="friend-image">
                  <img src="dist/images/team6.jpg" alt="" class="img40_40 img-circle">
                </div>
                <div class="friend-name">
                  <h5>Gregory Anderson</h5>
                </div>
              </div>

              <div class="friend-item">
                <div class="friend-image">
                  <img src="dist/images/team2.jpg" alt="" class="img40_40 img-circle">
                </div>
                <div class="friend-name">
                  <h5>Antony walshy</h5>
                </div>
              </div>
            </div>

            <div class="divider"></div>

            <div class="text-center">
              <a class="btn btn-bordered btn-bordered-primary btn-block">Find more friends</a>
            </div>

          </div>

        </div>
      </div>
    </div>

  </aside>

</div>
  