<div class="page page-general">

  <div class="row">

    <div class="col-md-12">

      <div class="panel panel-default">
      <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Playlist</strong></div>
      <div class="panel-body">

        <div class="col-xs-12 col-sm-9">

          <h3><i>Interactive</i> playlist</h3>
          <p>Keep track of this demo playlist in real-time</p>
          <p class="text-warning">You can drag songs in this table, to re-order them!</p>
          <table class="table table-hover table-rounded table-cursor">
            <thead>
            <th>#</th>
            <th>Src</th>
            <th>Type</th>
            </thead>
            <tbody>
            <tr ng-repeat="song in generalPlaylist.audioPlaylist" ng-click="mediaPlayer.playPause($index)" ng-class="{ active: mediaPlayer.playing && mediaPlayer.currentTrack-1 === $index }"
                ui-draggable="true" drag="song" on-drop-success="generalPlaylist.removeSong($index)" ui-on-drop="generalPlaylist.dropSong($data, $index)">
              <td>{{ $index+1 }}</td>
              <td><span ng-show="song.src.length > 50">...</span>{{ song.src | limitTo:-50 }}</td>
              <td>{{ song.type }}</td>
            </tr>
            </tbody>
          </table>

          <h3>Add audio track</h3>
          <p>Just click any of those sample songs to get added to your <i>interactive</i> playlist</p>
          <table class="table table-hover table-rounded table-cursor">
            <thead>
            <th>#</th>
            <th>Artist</th>
            <th>Title</th>
            </thead>
            <tbody>
            <tr ng-repeat="song in generalPlaylist.prefabPlaylist" ng-click="generalPlaylist.addSong(song)">
              <td>{{ $index+1 }}</td>
              <td>{{ song.artist }}</td>
              <td>{{ song.title }}</td>
            </tr>
            </tbody>
          </table>


        </div>

      </div>
      </div>

    </div>

  </div>

</div>