<!-- Logo -->
<div class="logo" data-ng-controller="AdminAppCtrl">
    <a class="logo-link" href="#/">
        <i class="logo-icon fa fa-leaf"></i>
        <!--<span>{{info.theme_name}}</span>-->
    </a>
    <div class="form-group logo-search">
        <div>
            <input type="text" class="form-control" placeholder="Search site">
            <span class="icon glyphicon glyphicon-search"></span>
        </div>
    </div>
</div>
<header class="clearfix">

<div class="top-nav">
<ul class="nav-left list-unstyled">
    <li>
        <!-- needs to be put after logo to make it working-->
        <div class="menu-button" toggle-off-canvas>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>

    </li>
    <!--<li>
        <a href="#/" data-toggle-min-nav
           class="toggle-min"
                ><i class="fa fa-list color-white"></i></a>
    </li>-->


</ul>

<ul class="nav-left pull-left list-unstyled list-notifications">
    <li class="dropdown list-notifications__item">
        <a href="javascript:;" class="dropdown-toggle bg-primary" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-envelope-o color-white"></i>
        </a>

        <div class="dropdown-menu pull-right with-arrow panel panel-default">
            <div class="panel-heading">
                You have 2 messages.
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="javascript:;" class="media">
                                    <span class="pull-left media-icon">
                                        <span class="circle-icon sm bg-info"><i class="fa fa-comment-o"></i></span>
                                    </span>

                        <div class="media-body">
                            <span class="block">Jane sent you a message</span>
                            <span class="text-muted">3 hours ago</span>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="javascript:;" class="media">
                                    <span class="pull-left media-icon">
                                        <span class="circle-icon sm bg-danger"><i class="fa fa-comment-o"></i></span>
                                    </span>

                        <div class="media-body">
                            <span class="block">Lynda sent you a mail</span>
                            <span class="text-muted">9 hours ago</span>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="panel-footer">
                <a href="javascript:;">Show all messages.</a>
            </div>
        </div>
    </li>
    <!--<li class="dropdown list-notifications__item">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="icon-mail color-white"></i>
        </a>

        <div class="dropdown-menu pull-right with-arrow panel panel-default">
            <div class="panel-heading">
                You have 3 mails.
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="javascript:;" class="media">
                                    <span class="pull-left media-icon">
                                        <span class="circle-icon sm bg-warning"><i class="fa fa-envelope-o"></i></span>
                                    </span>

                        <div class="media-body">
                            <span class="block">Lisa sent you a mail</span>
                            <span class="text-muted block">2min ago</span>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="javascript:;" class="media">
                                    <span class="pull-left media-icon">
                                        <span class="circle-icon sm bg-info"><i class="fa fa-envelope-o"></i></span>
                                    </span>

                        <div class="media-body">
                            <span class="block">Jane sent you a mail</span>
                            <span class="text-muted">3 hours ago</span>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="javascript:;" class="media">
                                    <span class="pull-left media-icon">
                                        <span class="circle-icon sm bg-success"><i class="fa fa-envelope-o"></i></span>
                                    </span>

                        <div class="media-body">
                            <span class="block">Lynda sent you a mail</span>
                            <span class="text-muted">9 hours ago</span>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="panel-footer">
                <a href="javascript:;">Show all mails.</a>
            </div>
        </div>
    </li>-->
    <li class="dropdown list-notifications__item">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bell-o nav-icon color-white"></i>
        </a>

        <div class="dropdown-menu pull-right with-arrow panel panel-default">
            <div class="panel-heading">
                You have 3 notifications.
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="javascript:;" class="media">
                                    <span class="pull-left media-icon">
                                        <span class="circle-icon sm bg-success"><i class="fa fa-bell-o"></i></span>
                                    </span>

                        <div class="media-body">
                            <span class="block">New tasks needs to be done</span>
                            <span class="text-muted block">2min ago</span>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="javascript:;" class="media">
                                    <span class="pull-left media-icon">
                                        <span class="circle-icon sm bg-info"><i class="fa fa-bell-o"></i></span>
                                    </span>

                        <div class="media-body">
                            <span class="block">Change your password</span>
                            <span class="text-muted">3 hours ago</span>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="javascript:;" class="media">
                                    <span class="pull-left media-icon">
                                        <span class="circle-icon sm bg-danger"><i class="fa fa-bell-o"></i></span>
                                    </span>

                        <div class="media-body">
                            <span class="block">New feature added</span>
                            <span class="text-muted">9 hours ago</span>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="panel-footer">
                <a href="javascript:;">Show all notifications.</a>
            </div>
        </div>
    </li>
    <!--<li class="list-notifications__item">
        <a href="#/tasks" class="">
            <i class="icon-checkmark color-white"></i>
        </a>
    </li>-->
</ul>



<ul class="nav-button pull-right list-unstyled">
    <li>
        <a href="#/tasks" class="">
            <i class="icon-align-right color-light"></i>
        </a>
    </li>
</ul>

<ul class="nav-button pull-right list-unstyled">

    <li class="dropdown text-small nav-profile">
        <a href="javascript:;" class="dropdown-toggle text-muted" data-toggle="dropdown" aria-expanded="false">
            <span class="nav-profile__welcome-text">Welcome Jane Doe &nbsp; </span><img src="dist/images/user.png" alt="" class="img30_30"/>
        </a>

        <div class="dropdown-menu pull-left with-arrow panel panel-default">

            <ul class="list-group">
                <li class="list-group-item">
                    <a href="#/pages/profile">
                        <i class="fa fa-user color-info"></i>
                        <span>Profile</span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#/tasks">
                        <i class="fa fa-check color-success"></i>
                        <span>Tasks</span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#/pages/lock-screen">
                        <i class="fa fa-lock color-warning"></i>
                        <span>Lock</span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#/pages/signin">
                        <i class="fa fa-sign-out color-danger"></i>
                        <span>Log out</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>

</ul>

</div>

</header>


