

<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li class="navigation-profile-picture">
          <img src="dist/images/user.png" alt="" class="img80_80 img-circle">
        </li>
        <li>
            <a href="#/dashboard"> <i class="icon-monitor"></i> <span>Dashboard</span></a>
            <ul>
                <li><a href="#/dashboard/dashboard"><i class="fa fa-circle submenu__icon"></i><span> Dashboard 1</span></a></span></li>
                <li><a href="#/dashboard/dashboard2"><i class="fa fa-circle submenu__icon"></i><span> Dashboard 2</span></a></li>
                <li><a href="#/dashboard/dashboard3"><i class="fa fa-circle submenu__icon"></i><span> Dashboard 3</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/ui"><i class="icon-gaming"></i><span>Ui Elements</span></a>
            <ul>
                <li><a href="#/ui/buttons"><i class="fa fa-circle submenu__icon"></i><span> Buttons</span></a></span></li>
                <li><a href="#/ui/typography"><i class="fa fa-circle submenu__icon"></i><span> Typography</span></a></li>
                <li><a href="#/ui/widgets"><i class="fa fa-circle submenu__icon"></i><span>Widgets </span><span class="badge badge-success">Trendy</span></a></li>
                <li><a href="#/ui/grids"><i class="fa fa-circle submenu__icon"></i><span> Grids</span></a></li>
                <li><a href="#/ui/icons"><i class="fa fa-circle submenu__icon"></i><span> Icons</span></a></li>
                <li><a href="#/ui/components"><i class="fa fa-circle submenu__icon"></i><span> Bootstrap UI</span> <span class="badge badge-info">new</span></a></li>
                <!--<li><a href="#/ui/timeline"><i class="fa fa-circle submenu__icon"></i> Timeline</a></li>-->
                <li><a href="#/ui/nested-lists"><i class="fa fa-circle submenu__icon"></i><span>Nested Lists</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/pages"><i class="icon-window"></i><span> Custom Pages </span></a>
            <ul>
                <li><a href="#/pages/signin"><i class="fa fa-circle submenu__icon"></i><span> Sign in</span></a></li>
                <li><a href="#/pages/signup"><i class="fa fa-circle submenu__icon"></i><span> Sign up</span></a></li>
                <li><a href="#/pages/forgot"><i class="fa fa-circle submenu__icon"></i><span> Request password</span></a></li>
                <li><a href="#/pages/profile"><i class="fa fa-circle submenu__icon"></i><span> User page</span></a></li>
                <li><a href="#/pages/404"><i class="fa fa-circle submenu__icon"></i><span> 404</span></a></li>
                <li><a href="#/pages/500"><i class="fa fa-circle submenu__icon"></i><span> 500</span></a></li>
                <li><a href="#/pages/blank"><i class="fa fa-circle submenu__icon"></i><span> Blank page</span></a></li>
                <li><a href="#/pages/contact"><i class="fa fa-circle submenu__icon"></i><span> Contact</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/table"><i class="icon-view-list-large"></i><span> Table styles</span></a>
            <ul>
                <li><a href="#/tables/static"><i class="fa fa-circle submenu__icon"></i><span> Normal tables</span></a></li>
                <li><a href="#/tables/responsive"><i class="fa fa-circle submenu__icon"></i><span> Responsive tables</span></a></li>
                <li><a href="#/tables/dynamic"><i class="fa fa-circle submenu__icon"></i><span> Dynamic tables</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/form"><i class="icon-align-left"></i><span> Form elements</span></a>
            <ul>
                <li><a href="#/forms/elements"><i class="fa fa-circle submenu__icon"></i><span> Form elements</span></a></li>
                <li><a href="#/forms/validation"><i class="fa fa-circle submenu__icon"></i><span> Form validations</span></a></li>
                <li><a href="#/forms/wizard"><i class="fa fa-circle submenu__icon"></i><span>Form wizard</span></a></li>
                <li><a href="#/forms/layouts"><i class="fa fa-circle submenu__icon"></i><span> Form layouts</span></a></li>
            </ul>
        </li>
       <li>
            <a href="#/charts"><i class="icon-graph-pie"></i><span> Charting</span></a>
            <ul>
                <li><a href="#/charts/morris"><i class="fa fa-circle submenu__icon"></i><span>Morris Charts</span></a></li>
                <li><a href="#/charts/chartjs"><i class="fa fa-circle submenu__icon"></i><span>Chart js</span></a></li>
                <li><a href="#/charts/flot"><i class="fa fa-circle submenu__icon"></i><span>Flot Charts</span></a></li>
                <li><a href="#/charts/others"><i class="fa fa-circle submenu__icon"></i><span>Other Charts</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/maps"><i class="icon-map"></i><span> Maps</span></a>
            <ul>
                <li><a href="#/maps/gmap"><i class="fa fa-circle submenu__icon"></i><span> Google</span></a></li>
                <li><a href="#/maps/jqvmap"><i class="fa fa-circle submenu__icon"></i><span> Vector</span></a></li>
            </ul>
        </li>
        <li class="nav-task">
            <a href="#/tasks">
                <i class="icon-calendar"></i><span> Tasks</span>
                <span class="badge badge-danger main-badge">{{navInfo.tasks_number}}</span>
            </a>
        </li>
        <li class="nav-footer">
            <div class="nav-footer__footer-info" data-ng-controller="chartingCtrl">

                <div class="list-separator">

                </div>

                <div class="pull-left">
                    <div easypiechart options="easypiesmall1.options" percent="easypiesmall1.percent" class="easypiechartsmall">
                                    <span class="pie-percent">
                                        <i class="icon-cloud color-white"></i>
                                    </span>
                    </div>
                </div>
                <div class="right-info">
                    <p class="color-white">Registrations / Unique visitors</p>
                </div>

            </div>
        </li>
    </ul>

</div>